.home{
  .navbar{
    background: #7dce13 !important;
    .navbar-brand{
      font-family:SolidenTrialBold;
      color: #111 !important;
      font-size: 30px;
    }
    .btn{
      height: 45px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
    }
  }
  .jumbotron{
    h1{
      font-family:SolidenTrialBold;
      font-size: 70px;
    }
    min-height: 90vh;
    background: #7dce13 !important;
    .btn{
      height: 45px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
      .FaGooglePlay{
        font-size: 23px;
        margin-top: -2px;
      }
      .FaApple{
        font-size: 25px;
        margin-top: -5px;
      }
    }
  }
  .jumbotron-1{
    min-height: 100vh;
    h1{
      font-family:SolidenTrialBold;
      font-size: 40px;
    }
    h2{
      font-family:SolidenTrialBold;
    }
  }
  .jumbotron-2{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff !important;
    .icon-card{
      font-size: 50px !important;
      color: #7dce13;
    }
    h1{
      font-family:SolidenTrialBold;
      font-size: 40px;
    }
  }
  .jumbotron-3{
    padding-top: 70px;
    padding-bottom: 70px;
    background: #7dce13 !important;
    h1{
      font-family:SolidenTrialBold;
      font-size: 40px;
    }
  }
  footer{
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
    background: #111 !important;
    font-size: 14px;
  }
  @media (max-width: 768px) { 
    .jumbotron{
      text-align: center;
      h1{
        font-family:SolidenTrialBold;
        font-size: 40px;
      }
    }
    .div-none-max-768{
      display: none !important;
    }
    .jumbotron-1{
      h1{
        font-family:SolidenTrialBold;
        font-size: 30px;
      }
      .container{
        .row{
          .col-lg-6{
            padding: 15px !important;
          }
        }
      }
    }
  }
  @media (min-width: 768px) { 
    .div-none-min-768{
      display: none !important;
    }
  }

}

