.other{
  main{
    .section-background{
      height: 100vh;
      width: 100%;
      color: #111;
      background: #7dce13 !important;
      .container{
        h1{
          font-size: 95px;
          font-family: SolidenTrialBold;
        }
        h2{
          font-size: 220px;
        }
        .a-link-return{
          color: #111 !important;
          text-decoration: none !important;
          font-weight: 700;
        }
      }
    }
    .section-form{
      h1{
        font-family: SolidenTrialBold;
      }
      height: 100vh;
      width: 100%;
      .container{
        .row{
          .col-lg-12{
            p{
              font-size: 14px;
              opacity: 0.4;
            }
            form{
              .alert-danger{
                font-size: 13px;
                color: #dc3545;
              }
              .input-group{
                input{
                  height: 45px;
                  outline: none !important;
                  box-shadow: none !important;
                  font-size: 14px;
                }
                span{
                  height: 45px;
                  background: none;
                }
              }
              .d-grid{
                text-decoration: none !important;
                .btn-primary{
                  background: #7dce13 !important;
                  outline: none;
                  border: none;
                  color: #111 !important;
                  height: 45px;
                  font-size: 14px;
                }.btn-primary:hover{
                  color: #fff !important;
                  background: #457407 !important;
                }
              }
              
            }
            .a-link-rtu{
              color: #7dce13 !important;
              text-decoration: none !important;
            }
          }
        }
      }
    }
  }
  @media (max-width: 992px) { 
    .section-background{
      display: none !important;
    }
  }
}