.card-table{
  font-size: 13px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.027) !important;
  .text-right{
    text-align: right !important;
  }
  .input-group{
    input{
      outline: none !important;
      box-shadow: none !important;
    }
    button:hover{
      background: #7dce13 !important;
    }
  }
  .table-h{
    min-height: 60vh;
    table{
      thead{
        background: #f9fbfd;
        color: #293042;
        position: static;
        top: 0px;
        border-bottom: solid white 1px !important;
        th{
          padding-top: 11px;
          padding-bottom: 11px;
        }
      }
      tbody{
        color: #2f4157;
        tr{
          th{
            padding-top: 11px;
            padding-bottom: 11px;
            font-weight: 500 !important;            
          }
          td{           
            padding-top: 11px;
            padding-bottom: 11px;
            .bg-success{
              background: #7dce133a !important;
              color: #457408;
            }
            .bg-danger{
              background: #dc354664 !important;
              color: #dc3545;
            }
            .bg-warning{
              background: #ffc10764 !important;
            }
            .button-dropdaw-tab{
              border: none !important;
              background: none !important;
              color: #111 !important;
            }
          }
        }
      }
    }
  }
  .nav-pagination{
    margin-bottom: -20px;
    font-size: 12px !important;
    .pagination{
      .page-link{
        font-size: 12px !important;
        border-radius: 50% !important;
        color: #293042 !important;
        margin: 1px !important;
      }
      .page-link:hover{
        color: #fff !important;
        background: #293042 !important;
      }
      .page-link.activee{
        color: #fff !important;
        background: #293042 !important;
      }
    }
  }
  .dropdown-tab-action{
    background: none;
    padding: 0px;
    outline: none !important;
    box-shadow: none !important;
    color: #293042;
    border: none !important;
  }
  nav{
    margin-bottom: -20px;
    margin-top: -10px;
    .pagination{
      .page-link{
        border: none !important;
        color: #111 !important;
        font-size: 14px;
        padding: 8px;
        border-radius: 10px;
      }
      .page-link.active{
        border: none !important;
        color: #7dce13 !important;
        font-size: 14px;
        background: none;
        font-weight: 900;
        border-radius: 10px;
      }
      .page-link:hover{
        border: none !important;
        color: #7dce13 !important;
        font-size: 14px;
        background: none;
        font-weight: 900;
        border-radius: 10px;
      }
    }
  }
}